<div>
  <div id="map" style="width: 100%; height: 100%; padding: 50%;">
  </div>
</div>

<script src="/scripts/maps.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-7MIQU6rk8hYEGdPk7JWKBzXDxmotao&callback=initMap">
</script>
