<div class="embed-responsive map-wrapper map">
  <iframe
    style="height: 100%; min-height: 100%;"
    class="embed-responsive-item"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzBgPx1asR0n4rImNZ9uUyShLVYruiWWE
      &q=Oakland+CA" allowfullscreen>
  </iframe>
</div>