<div class="embed-responsive embed-responsive-4by3">
    <div id="map_canvas" class="embed-responsive-item" style="border: 0px;">
    <iframe
      width="100%"
      height="100%"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzBgPx1asR0n4rImNZ9uUyShLVYruiWWE
        &q=Oakland+CA" allowfullscreen>
    </iframe>
    </div>
</div>