<div class="container">
  <div class="row">
    <h1>Profile Page</h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="{{avatar}}" alt="{{name}} avatar" class="img-rounded img-responsive" />
    </div>

    <div class="col-md-9">
      <dl>
        <dt>Name</dt>
        <dd>{{name}}</dd>

        <dt>Email Address</dt>
        <dd>{{email}}</dd>
      </dl>
    </div>
  </div>
</div>
